/*  HOME */
#home-grid { 
h2 { font-size:1.2rem; letter-spacing:-0.0625rem;font-weight:300;}
}
/* SINGLE POST */
blockquote { font-size:1.2rem; margin:2rem;padding:2rem;}
/*UNSORTED*/
.featured-image img { border-radius:.25rem;}
//.entry-content img { border-radius:.5rem;}
h3.title { font-size:1.2rem;letter-spacing:-0.0925rem;}
h1.entry-title { letter-spacing:-0.125rem;}
p.byline { font-size:.75rem;}
#content #inner-content { padding:2rem 0;}

body.home #content #inner-content { padding:0;}

.single .entry-content{
 	p { margin-top:1rem;font-family:Georgia; font-size:1.2rem; @include breakpoint(medium){ font-size:1.3rem;} }
 	h3 { margin-top:1rem;font-size:1.75rem; @include breakpoint(medium){font-size:2.5rem;}}
 	img { margin-top:1rem;}}

.single h1.entry-title.single-title  {font-weight:900; font-size:2rem; letter-spacing:-0.0625rem; 
					@include breakpoint(medium) 
						{ font-size:3rem;letter-spacing:-0.0925rem;}
					}

.mixxx { color:red; @include breakpoint (medium) { color:pink;}}a
.burger-menu{ @include hamburger(#111, lightblue,  20px, 16px, 1px, 4);}
.white-text-black-shadow { color:white;text-shadow:1px 1px 1px #111;}





//removes padding from home page 
body.home #content #inner-content {}


















