
//grey to clear 
.gradient-3 { 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5a5a5+0,000000+100&0.4+0,0+100 */
background: -moz-linear-gradient(top,  rgba(165,165,165,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(165,165,165,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(165,165,165,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a5a5a5', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

//kawaii sunset
.gradient-1 {
   background: #f0b195; /* Old browsers */
   background: -moz-linear-gradient(top,  #f0b195 0%, #f67280 30%, #f67280 30%, #c06c84 54%, #6c5b7b 84%, #6c5b7b 84%, #355c7d 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #f0b195 0%,#f67280 30%,#f67280 30%,#c06c84 54%,#6c5b7b 84%,#6c5b7b 84%,#355c7d 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #f0b195 0%,#f67280 30%,#f67280 30%,#c06c84 54%,#6c5b7b 84%,#6c5b7b 84%,#355c7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b195', endColorstr='#355c7d',GradientType=0 ); /* IE6-9 */
}
// cool blue
.gradient-2 { 
background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.gradient-3 { 


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,8f0222+56,a90329+100 */
background: rgb(109,0,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */


}


.gradient-4 {

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */



}
